
  .deal-card {
    width: 500px;
    height: 825px;
    border: 1px solid rgba(0, 0, 0, 0.125); 
  }
  .deal-image-container {
    height: 50%;
    width: 100%;
  }
  .deal-card-img {
    height: 375px;
    min-width: 200px;
    max-width: 450px;
    object-fit: contain;
    z-index: -1;
  }
  .deal-overlay {
    position: absolute;
    margin-top: 0;
    width: 30%;
    height: 6%;
    float: none;
    background-color: red;
    z-index: 2;
  }
  .deal-logo {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    color: yellow;
    font-weight: bold;
    z-index: 3;
  }
  .deal-description-area {
    vertical-align: text-top;
    height: 120px;
  }
  .deal-qty-area {
    text-align: center;
    padding-bottom: 10px;
  }
  .deal-qty-select {
    font-size: 1rem;
    text-align: center;
  }
  .deal-btn-area {
    height: 50px;
  }