  
  .landingPic {
    background-image: url("../../assets/images/Karrs-coffee-and-tea-landing.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
  }
 
  .landing-btn-row {
    height: 60vh;
    align-items: flex-end;
  }
