.landingPic {
    background-image: url("../../assets/images/Karrs-coffee-and-tea-landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  #landing-btn {
    position: relative;
    top: 40vh;
    left: 65vw;
  }