
  .coffee-card {
    width: 500px;
    height: 825px;
  }
  .coffee-image-container {
    min-height: 45%;
    max-height: 55%;
    width: 100%;
  }
  .coffee-card-img {
    min-height: 300px;
    max-height: 400px;
    min-width: 200px;
    max-width: 475px;
    object-fit: contain;
  }
  .coffee-description-area {
    vertical-align: text-top;
    height: 130px;
  }
  .coffee-qty-area {
    text-align: center;
    padding-bottom: 10px;
  }
  .coffee-qty-select {
    font-size: 1rem;
    text-align: center;
  }
  .coffee-btns-area {
    height: 50px;
  }

